<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>신규 메뉴 등록</h1>

<form action="/menu/regist" method="post">
    <label>메뉴 이름 : </label><input type="text" name="menuName"><br>
    <label>메뉴 가격 : </label><input type="number" name="menuPrice"><br>
    <label>카테고리 : </label>
    <select name="categoryCode" id="categoryCode">

    </select>
    <label>판매 상태 : </label>
    <select name="orderableStatus">
        <option value="Y">판매가능</option>
        <option value="N">판매불가</option>
    </select><br>
    <input type="submit" value="전송">
</form>
<script>
    // '/menu/category' URL 로 GET 요청
    fetch('/menu/category')
        // 응답값을 json 형식으로 파싱
        .then(res => res.json())
        // 파싱된 데이터를 처리하는 로직
        .then(data => {
            // 'categoryCode' Id를 가진 html 요소를 가져온다.
            const $categoryCode = document.getElementById('categoryCode');

            // 데이터의 각 항목에 대해 반복
            for (let index in data) {
                // <option> 요소 생성 및 옵션에 값 설정
                const $option = document.createElement('option');
                $option.value = data[index].categoryCode;
                $option.textContent = data[index].categoryName;

                $categoryCode.appendChild($option);
            }
        })
</script>
</body>
</html>